<div class="container">
  <h2 style="text-align: center;margin: 25px 0;">Take Home Project</h2>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Author</th>
    <th scope="col">SHA</th>
    <th scope="col">Url</th>
    <th scope="col">Message</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let commit of commits; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ commit.commit.author.name }}
    </td>
    <td>{{ commit.sha }}</td>
    <td><a [href]="commit.url">{{ commit.url }}</a></td>
    <td>{{ commit.commit.message }}</td>
  </tr>
  </tbody>
</table>
<p> List of commits from all branches</p>
</div>